<div class="row">
      <div class="col-md-12">
      <div class="row">
<div class="col-md-2 col-md-offset-5">
<div class="list-group-item clearfix">
    <a href="#" class="list-group-item-text" [ngStyle]="{color : getBackgroundColor()}"  (click)="onDetailClicked(isDetailedClicked)">{{mazeInfo.name}}</a>    
  </div>
</div>
    
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
      <div
      [ngStyle]="{backgroundColor : getBackgroundColor()}" 
    class="list-group-item clearfix"
    *ngIf="isDetailedClicked==true">
<div class="pull-left" >
<p class="list-group-item-text">name: {{mazeInfo.name}}</p>
<p class="list-group-item-text">isLocked: {{mazeInfo.isLocked}}</p>
<p class="list-group-item-text">canBeUnlocked: {{mazeInfo.canBeUnlocked}}</p>
</div>   
<div class="pull-right">
    <button class= "btn btn-primary" 
    (click)="onUnlockClicked()" [disabled] ="!(this.mazeInfo.canBeUnlocked)">Unlock</button>
   
  </div> 
</div>
</div>
</div>
<div class="p-3 mb-2 bg-primary "></div>

      </div>
      
    </div>
    <div class="row">
        <div class="col-md-12" >
        <app-fireball  [fireballInfo]="fireballInfo"></app-fireball>
       </div>
    </div> 

   